:root {
  --primary-color: #01adc1;
  --secondary-color: #e9fdff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.app-showcase a {
  display: block;
}
.about-paragraphs a {
  display: inline;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 31px auto;
}

.page-header {
  text-align: center;
  margin: 100px 0 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}
.app-showcase p {
  text-align: left;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.navbar {
  padding: 10px 32px;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link,
.app-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.app-link {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}
.row {
  margin: 50px;
  height: auto;
}
.col-sm-6 {
  padding: 20px;
}
img {
  max-width: 100%;
  height: auto;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  font-size: 18px;
  line-height: 1.5;
  margin: 10px;
  text-align: center;
}
#contact {
  text-align: center;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.light-background {
  background: var(--secondary-color);
}

.images img {
  border: 10px solid white;
  box-shadow: var(--box-shadow);
  margin: 5px;
}

@media (max-width: 576px) {
  a {
    display: block;
    text-align: center;
  }

  .app-showcase img {
    display: none;
  }

  .light-background {
    background: white;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
}
